/* to add text over image in div set the div position to relative and the text absolute */
/* fix hyper links
fix colored dots?????
consolidate pseudo elements ? */
:root {
    --purple: #7122fa;
    --orange: rgb(255, 187, 0);
    --pink:  #ff7dcb;
    --black: #000000;
    --green: rgb(39, 222, 39);
    --blue: rgb(0, 195, 255);
    --white: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--black);
}

.header {
    padding-top: 30px;
    padding-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    border-bottom: 8px solid var(--purple);
}

.header h1 {
    font-size: 80px;
    display: inline-block;
    margin-left: 20px;
}

.header nav {
    font-size: 30px;
    float: right;
}

.header nav ul {
    list-style-type: none;
    margin: 0px;
}

.header nav ul li {
    display:inline-block;
    margin: 15px;
    padding-top: 30px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.content {
    width: 75%;
    display: block;
    margin-left: 20%;
}

.card {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
}

#about-me {
    height: 300px;
    font-size: 25px;
    /* box-shadow: 0 0 10px 8px var(--blue) */
}
#work {
    height: 950px;
    /* box-shadow: 0 0 10px 8px var(--pink) */
}
#contact-me {
    box-shadow: 0 0 10px 8px var(--green)
}
#resume {
    box-shadow: 0 0 10px 8px var(--orange)
}

section h2 {
    padding: 10px;
    position: absolute;
    /* left: 20px; */
    color: var(--);
    background-color: var(--black);
    font-size: 50px;
    box-shadow: 0 0 10px 8px var(--light-blue);
}

#header-am {
    height: 300px;
    top: 200px;
    left: 20px;
    border-right: 6px solid var(--blue);

}
#header-work {
    height: 750px;
    left: 37px;
    border-right: 6px solid var(--pink);
}
/* #header-contact {
    border-right: 6px solid var(--green);
}
#header-resume {
    border-right: 6px solid var(--orange);
} */
#me {
    position: relative;
    padding: 8px;
    max-height: 110%;
    float: right;
}


/* work section images */
#ravebuddy-img {
    border: 4px solid var(--pink);
    display: flex;
    position: absolute;
    height: 400px;
    width: 65%;
}
#RaveBuddy {
    display: flex;
    position: absolute;
    bottom: -65px;
    padding: 7px;
    background-color: var(--pink);
    font-size: 60px;
}
#clothes-img {
    border: 4px solid var(--pink);
    display: flex;
    position: absolute;
    bottom: -450px;
    height: 300px;
    width: 40%
}
#Clothes {
    position: absolute;
    bottom: -410px;
    padding: 7px;
    background-color: var(--pink);
    font-size: 40px;
}





/* nav bar pseduo elements */
.blue:hover {
    text-shadow: 5px 5px var(--blue);
}
.pink:hover {
    text-shadow: 5px 5px var(--pink);
}
.green:hover {
    text-shadow: 5px 5px var(--green);
}
.orange:hover {
    text-shadow: 5px 5px var(--orange);
}
/* section pseudo element */
#about-me:hover {
    box-shadow: 0 0 10px 8px var(--purple);
}
/* #work:hover {
    box-shadow: 0 0 10px 8px var(--purple);
} */
#contact-me:hover {
    box-shadow: 0 0 10px 8px var(--purple);
}
#resume:hover {
    box-shadow: 0 0 10px 8px var(--purple);
}

.footer {
    padding: 20px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    border-top: 8px solid var(--purple);
    text-align: center;
}
.footer h3 {
    font-size: 35px;
}
.footer ul {
    list-style-type: none;
    display: inline-flex;
}

.footer ul li {
    display:inline-flex;
    margin: 20px;
    padding-top: 30px;
    font-size: 25px;
}
#github:hover {
    text-decoration: underline;
}